<!DOCTYPE html>
<html>
  <head>
    <title>ログインサイト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <p>メールを送ったのでそちらから登録お願いします。</p>
   <a href="/login">ログインページに戻る</a>
  </body>
</html>
