<!DOCTYPE html>
<html>
  <head>
    <title>ログインサイト</title>
    <link type="text/css" rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>aaaログインサイトへようこそ</h1>
    <p><a href="/login">ログインはこちら</a></p>
  </body>
</html>
