<!DOCTYPE html>
<html>
  <head>
    <title>ログインサイト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>パスワード再設定</h1>
    <form method="POST" action="/password_reset">
        
        <input type="hidden" name="email" value=<%=data.email%>>
        <p>パスワード</p>
        <input name="password">
        <br>
        <input type="submit" value="認証">
    </form>
  </body>
</html>
