<!DOCTYPE html>
<html>
  <head>
    <title>ログインサイト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>会員登録</h1>
    <form method="POST" action="/signup">
        <p>メールアドレス</p>
        <input  type="email" name="email" />
        <input type="submit" value="送信">
    </form>
    <a href="/login">ログインページに戻る</a>
  </body>
</html>
